<div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>Follow Users</h1>
        
         <% if @users.count > 0 %>
         
          <table class="table text-center">
            <thead>
              <tr>
                <th>Image</th>
                <th>Name</th>
                <th></th>
                <th></th>
                <th></th>
                <th colspan="5"></th>
              </tr>
            </thead>
            <tbody>
              <% @users.each do |user| %>
              <tr>
              <td><%= attachment_image_tag(user, :profile_image, :fill, 50, 50, fallback: "no-image-icon.jpg") %></td>
              <td><%= user.name %></td>
              <td>フォロー数：<%= user.followings.count %></td>
              <td>フォロワー数：<%= user.followers.count %></td>
              <td><%= link_to 'Show', user_path(user), class: "user_#{user.id}" %></td>
              </tr>
              <% end %>
             </tbody>
          </table>
        
        <% else %>
        <p>ユーザーはいません</p>
        <% end %>
  
      </div>
    </div>
</div>